.DS_Store
auto-save-list/
elpa/
quelpa/
export/
backups/
transient/
server/
var/
packages/
.cache/
tabnine/
eshell/
.tutor/
undo/
history
places
recentf*
.lsp-session-*
.last-package-update-*
company-statistics-*
projectile*
.mc-lists*
_customize.el
