.DS_Store
auto-save-list/
elpa/
export/
backups/
transient/
server/
var/
.cache/
tabnine/
history
places
recentf
.lsp-session-*
.last-package-update-*
company-statistics-*
projectile*
.mc-lists*
_customize.el
